<link rel="stylesheet" type="text/css" media="all" href="../css/settings.css" />
<div class="container settings">
	<fieldset>
		<legend>Settings</legend>
		<div class="form-group time-format">
			<label>Time Format</label>
			<div class="btn-group" data-ng-model="settings.timeFormat" data-bs-radio-group>
				<label class="btn btn-primary">
					<input type="radio" class="btn btn-primary" value="HH:mm:ss" autocomplete="off" />
					24 Hour
				</label>
				<label class="btn btn-primary">
					<input type="radio" class="btn btn-primary" value="hh:mm:ss A" autocomplete="off" />
					12 Hour
				</label>
			</div>
		</div>
		<button type="button" class="btn btn-primary" data-ng-click="onSaveClick()">
			Save
		</button>
		<button type="button" class="btn btn-default" data-ng-click="onCancelClick()">
			Cancel
		</button>
	</fieldset>
</div>

